
.oldPostsContainer {
  color: #545149;
  size: 0.5em;
  padding: 10px;
  margin-top: 40px;
  
  border: #545149 solid 2px;

}

.singlePostContainer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 10px;
}

article.tweet {
  padding: 0;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;

}

/* article.tweet header h4.username::before{
  display: none;
}
article.tweet header h4.username:hover{
  display: "USERNAME";
} */

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: #545149 solid 2px;
  height: 20%;

}

article.tweet header h4 {
  color: #545149;
  font-size: smaller;
  padding: 0;
  margin: 0;
}
article.tweet header h4.username {

  padding: 0;
}

article.tweet p {
  color: #545149;
  height: 50%;
}
article.tweet footer h6 {
  color: #545149;
  padding: 0;
  margin: 5px;
}




.oldPostsContainer:hover {
  border: solid #545149 3px;
  background-color: #e9c995;
}


article.tweet .username { 
  display: none; 
}
article.tweet:hover .username { 
  display: inline; 
}