

header.header  {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #db0700;
  background-image: url("https://www.transparenttextures.com/patterns/light-honeycomb-dark.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1.5em;
  width: 100%;
}

.avatar {
  display: flex;
  justify-content: center;
  align-content: center;
}

.userName {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (min-width: 1024px) {


  .headerContainer .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
  
  }

  .header {
    display: flex;
    align-self: flex-start;
    
    width: 30em;
    /* position: fixed;
    top: 0; */
  }


}




