/* Change the appearance of the nav based on the following rules. The navbar should:

Be 120 pixels in height
Be the full width of the viewport.
Have #4056A1 as its default background colour.
Have #FFFFFF as its default font colour
The <span> within the <nav> has Bungee as it's default font-family
The inner content should not be touching the viewport edge on any side and should remain 1.5ems away from all edges */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: sans-serif;
  color: #FFFFFF;
}

/*
 * Global layout stuff
 */

.body {
  color: #545149;
  background-color: #e6cca3;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}


.container {
  font-family: 'Source Sans Pro', sans-serif;
}

#logo {
  font-family: 'Bungee', cursive;
  /* display: flex; */
  /* justify-content: flex-start;
  align-content: space-around; */
}

#newTweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
  /* display: flex; */
  /* justify-content: flex-end;
  align-content: space-around; */
}

nav.navbar {
  width: 100%; 
  height: 70px;
  background-color: #4056A1;
  position: fixed;
  top: 0;
  width: 100%;
}

.barContainer {
  padding-top: 20px;
  /* display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center; */
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.header {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 70px;
}
.header h2 {
  padding: 0;
  margin: 0;
}
.avatar {
  display: flex;
  justify-content: center;
  align-content: center;
}

.userName {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */