main {
  width: 100%;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
h3 {
  color: #545149;
}

.belowTweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tweetLabel {
  font-size: smaller;
  color: #545149;
}
#tweetInput {
  background-color: #e6cca3;
  width: 90%;
  font-size: 20px;
  border: none;
  border-bottom: black solid 2px;
}
#tweetButton {
  background-color: #4056A1;
  width: 25%;
  /* display: flex;
  align-self: flex-end; */
  font-family: 'Bungee', cursive;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  padding-top: 5px;
  
}

.errorMsg {
  color: red;
  float: left;
  display: none;
  font-size: small;
  font-family: 'Source Code Pro', monospace;
}
.counter {
  float: right;
  font-family: 'Bungee', cursive;
  color: #545149;
}

#countNumber {
  float: right;
  font-family: 'Bungee', cursive;
  color: #545149;
}

